<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <script src="{{ asset('home/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8" />
    <title>MonbonHLM - Ajouter une annonce</title>
    {% include "::base.html.twig" %}
</head>

<body>
<!-- Wrapper -->
<div id="wrapper">
    {% include "::menu.html.twig" %}
    <!-- Titlebar
    ================================================== -->
    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Ajouter une annonce</h2>
                </div>
            </div>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    {% if app.user.annonce.count<=('0')%}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="headline with-border">Informations du logement</h4>
                </div>

                <div class="col-md-6">
                        <div class="margin-top-20"></div>
                    <label for="username">Référence du logement</label>
                    {{ form_widget(form.reference_locataire) }}

                    <div class="margin-top-20"></div>
                    <label for="username">Etage du logement</label>
                    {{ form_widget(form.etage) }}

                        <div class="margin-top-20"></div>
                    <label for="username">Type de logement</label>
                    {{ form_widget(form.type_logement) }}

                        <div class="margin-top-20"></div>
                    <label for="username">Quartier</label>
                    {{ form_widget(form.quartier) }}
                </div>

                <div class="col-md-6">
                        <div class="margin-top-20"></div>
                    <label for="username">Adresse du logement</label>
                    {{ form_widget(form.adresse) }}

                        <div class="margin-top-20"></div>
                    <label for="username">Numéro de logement</label>
                    {{ form_widget(form.numero_logement) }}

                        <div class="margin-top-20"></div>
                    <label for="username">Bailleur du logement</label>
                    {{ form_widget(form.reference_bailleur) }}


                        <div class="margin-top-20"></div>
                    <label for="username">Code postal</label>
                    {{ form_widget(form.code_postal) }}

                </div>

                <div class="col-md-12">
                        <div class="margin-top-50"></div>
                    <label for="username">Description du logement</label>
                    {{ form_widget(form.description_complementaire) }}
                </div>

                <div class="col-md-12">
                    <div class="margin-top-60"></div>
                    <h4 class="headline with-border">Photos du logement</h4>

                    <div class="col-md-4">
                        <div class="margin-top-20"></div>
                        <label for="username">Photo principal</label>
                        {{ form_widget(form.photo_principal) }}
                    </div>

                    <div class="col-md-4">
                        <div class="margin-top-20"></div>
                        <label for="username">Photo 2</label>
                        {{ form_widget(form.photo_2) }}
                    </div>

                    <div class="col-md-4">
                        <div class="margin-top-20"></div>
                        <label for="username">Photo 3</label>
                        {{ form_widget(form.photo_3) }}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="margin-top-60"></div>
                    <h4 class="headline with-border">Votre demande</h4>

                    <div class="col-md-12">
                        <div class="margin-top-20"></div>
                        <label for="username">Vous recherchez ?</label>
                        {{ form_widget(form.type_logementrechercher) }}
                    </div>
                </div>

                <div class="col-md-12 button medium" style="text-align: center; display: block;">
                    <div class="margin-top-20" style="text-align: center;"></div>
                    {{ form_widget(form.envoyer, { 'class': 'button medium' }) }}
                </div>

            </div>
        </div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="notification error closeable">
                <p><span>Erreur!</span> Vous avez déjà une annonce. Vous pouvez la modifier <span><a href="{{ path('fos_user_profile_show') }}">ici</a></span></p>
                <a class="close" href="#"></a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="margin-top-50"></div>
    {% include "::footer.html.twig" %}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>


    {% include "::scripts.html.twig" %}

</div>
<!-- Wrapper / End -->

</body>
</html>