<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
 ================================================== -->
    <meta charset="utf-8" />
    <title>Annonces</title>
    {% include "::base.html.twig" %}
</head>

<body>
<!-- Wrapper -->
<div id="wrapper">
    {% include "::menu.html.twig" %}

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" style="background-image:url({{ asset('uploads/quartiers/'~annonce.quartier.photo.id~'.'~annonce.quartier.photo.path) }});background-position:center center;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2 style="color: white;">Annonce numéro {{ annonce.id }}</h2>
                    <!-- <span>Tagline</span> -->
                </div>
            </div>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    <div class="container">
        <div class="row sticky-wrapper">

            <!-- Photos -->
            <div class="col-md-8 sticky-wrapper">
                <div class="photoGrid big clearfix ">
                    <a class="item img-hover mfp-gallery" href="{{ asset('uploads/annonces/1/'~annonce.photoprincipal.id~'.'~annonce.photoprincipal.path) }}" title="Photo de l'annonce"><img src="{{ asset('uploads/annonces/1/'~annonce.photoprincipal.id~'.'~annonce.photoprincipal.path) }}" alt="" /></a>
                    <a class="item img-hover mfp-gallery" href="{{ asset('uploads/annonces/2/'~annonce.photo2.id~'.'~annonce.photo2.path) }}"><img src="{{ asset('uploads/annonces/2/'~annonce.photo2.id~'.'~annonce.photo2.path) }}" alt="" /></a>
                    <a class="item img-hover mfp-gallery" href="{{ asset('uploads/annonces/3/'~annonce.photo3.id~'.'~annonce.photo3.path) }}"><img src="{{ asset('uploads/annonces/3/'~annonce.photo3.id~'.'~annonce.photo3.path) }}" alt="" /></a>
                </div>
            </div>

            <!-- Content -->
            <div class="col-md-4">
                <div class="project-details sticky">
                    <h4 class="headline with-border">Annonce numéro {{ annonce.id }}</h4>
                    <p>{{ annonce.descriptioncomplementaire }}</p>

                    <ul class="details">
                        <li><span>Référence locataire :</span>
                        </li>
                        <li><span>Type de logement :</span> {{ annonce.typelogement.type }}</li>
                        <li><span>Adresse :</span> {{ annonce.adresse }}</li>
                        <li><span>Etage :</span> {{ annonce.etage }}</li>
                        <li><span>Quartier :</span> <a href="#"> {{ annonce.quartier.nom }}</a></li>
                        <li><span>Bailleur :</span> <a href="#"> {{ annonce.referencebailleur.nom }}</a></li>
                        <li><span>Numéro de logement :</span> {{ annonce.numerologement }}</li>
                        <li><span>Code postal :</span> {{ annonce.codepostal.code }}</li>
                    </ul>


                    <h4 class="headline with-border" style="margin-top: 100px;">Infos de l'annonceur</h4>
                    {% if is_granted('ROLE_USER') %}
                        {% if app.user.annonce.count<=('0')%}
                            <span>Vous devez poster une annonce pour voir les infos de l'annonceur</span>
                        {% else %}
                        <ul class="details">
                            <li><span>Nom :</span> {{ annonce.auteur.nom }}</li>
                            <li><span>Prenom :</span> {{ annonce.auteur.prenom }}</li>
                            <li><a href="{{path ('monbon_hlm_home_envoyer_message_annonceur', {'id':annonce  .id}) }}" class="button border"><i class="fa fa-envelope"></i> Echanger !</a></li>
                        </ul>
                        {% endif %}
                    {% else %}
                        <span>Vous devez être <span><a href="{{path ('fos_user_security_login')}}">connecter</a></span> et avoir <span><a href="{{path ('monbon_hlm_home_ajouter_annonce')}}">déposé une annonce</a></span> pour voir les infos de l'annonceur</span>
                    {% endif %}

                    {% if annonce.auteur.id == app.user.id %}
                    <h3 class="headline with-border" style="margin-top: 100px;">Gérer mon annonce</h3>
                        <a href="#"><i class="fa fa-edit"></i><span> Modifier mon annonce</span></a></br>
                        <a href="#"><i class="fa fa-trash"></i><span> Supprimer mon annonce</span></a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>


    <!-- Footer
   {% include "::footer.html.twig" %}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>


    {% include "::scripts.html.twig" %}
</div>
<!-- Wrapper / End -->

</body>
</html>