<div class="container">

    <div class="row">
        <div class="header">

            <div class="col-md-3 col-sm-12">
                <div id="logo">
                    <a href="{{path ('monbon_hlm_home_homepage')}}"><img src="{{ asset('home/images/logo-banner.png')}}" alt="" /></a>
                </div>
            </div>


            <div class="col-md-9 col-sm-12">
                <ul class="header-widget">
                    {% if is_granted('ROLE_USER') %}
                    <li>
                        <i class="sl sl-icon-user" style="font-size: 20px; margin-top: 15px; padding-left: 20px;"></i>
                        <div class="widget-content">
                            <span class="title" style="font-size: 15px;margin-top: 12px;"><a href="{{path ('fos_user_profile_show')}}">Mon compte</a></span>
                        </div>
                        </br>
                        <i class="sl sl-icon-logout" style="font-size: 20px; margin-top: 15px; padding-left: 20px;"></i>
                        <div class="widget-content">
                            <span class="title" style="font-size: 15px;margin-top: 12px;"><a href="{{path ('fos_user_security_logout')}}">Déconnexion</a></span>
                        </div>
                    </li>
                    {% else %}
                    <li>
                        <i class="sl sl-icon-login" style="font-size: 20px; margin-top: 15px; padding-left: 20px;"></i>
                        <div class="widget-content">
                            <span class="title" style="font-size: 15px;margin-top: 12px;"><a href="{{path ('fos_user_security_login')}}">Connexion</a></span>
                        </div>
                        </br>
                        <i class="sl sl-icon-check" style="font-size: 20px; margin-top: 15px; padding-left: 20px;"></i>
                        <div class="widget-content">
                            <span class="title" style="font-size: 15px;margin-top: 12px;"><a href="{{path ('fos_user_registration_register')}}">Inscription</a></span>
                        </div>
                    </li>
                    {% endif %}
                    <li class="with-btn"><a href="{{path ('monbon_hlm_home_ajouter_annonce')}}" class="button border medium">Déposer votre annonce</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    </div>
    <!-- Navigation
    ================================================== -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Mobile Navigation -->
                <div class="menu-responsive">
                    <i class="fa fa-reorder menu-trigger"></i>
                    <i class="fa fa-search search-trigger"></i>
                    <form action="#" method="get" class="responsive-search" />
                    <input type="text" onblur="if(this.value=='')this.value='to search type and hit enter';" onfocus="if(this.value=='to search type and hit enter')this.value='';" value="to search type and hit enter" />
                    </form>
                </div>

                <!-- Main Navigation -->
                <nav id="navigation">

                    <ul class="menu" id="responsive">

                        <li>
                            <a href="{{path ('monbon_hlm_home_homepage')}}">Accueil</a>
                        </li>

                        <li>
                            <a href="{{path ('monbon_hlm_home_annonces')}}">Les annonces</a>
                        </li>

                        <li>
                            <a href="{{path ('monbon_hlm_home_quartier')}}">Les quartiers</a>
                        </li>

                        <li>
                            <a href="{{path ('monbon_hlm_home_bailleurs')}}">Les bailleurs</a>
                        </li>

                        <li>
                            <a href="{{path ('monbon_hlm_home_type_logement')}}">Les types de logement</a>
                        </li>

                        <li class="dropdown">
                            <a href="#">FAQ</a>
                            <ul>
                                <li><a href="{{path ('monbon_hlm_home_fonctionnement')}}">Fonctionnement</a></li>
                                <li><a href="{{path ('monbon_hlm_home_demarches')}}">Les démarches</a></li>
                                <li><a href="{{path ('monbon_hlm_home_questionsreponses')}}">Questions/réponses</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>