Nouvelle demande d'échange :


L'utilisateur {{ user.nom }} {{ user.prenom }} à demandé à échanger son bien :

<a href="http://localhost:8888/MonbonHLM/web/app_dev.php/annonce-{{ userann }}" >Voir son annonce</a>



Contre l'utilisateur {{ annonce.auteur.nom }} {{ annonce.auteur.prenom }}


<a href="http://localhost:8888/MonbonHLM/web/app_dev.php/annonce-{{ annonce.id }}" >Voir son annonce</a>
