<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8" />
    <title>MonbonHLM - Bourse d'échange de logement à Montpellier</title>
    {% include "::base.html.twig" %}
</head>

<body>
<!-- Wrapper -->
<div id="wrapper">
    {% include "::menu.html.twig" %}
    <div class="clearfix"></div>

    {% include "::slider.html.twig" %}

    <!-- Content
    ================================================== -->

    <!-- Featured Services -->
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h3 class="headline centered">Comment ça fonctionne ?</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <!-- Service -->
                <a class="featured-service">
                    <i class="fa fa-envelope-o"></i>
                    <h4>Contactez</h4>
                    <p>Contacter l'annonceur, pour envoyer un message à l'annonceur.</p>
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- Service -->
                <a class="featured-service">
                    <i class="reneva icon-48"></i>
                    <h4>Demandez</h4>
                    <p>Remplissez le document disponible dans les bureaux de votre bailleur.</p>
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- Service -->
                <a class="featured-service">
                    <i class="reneva icon-16"></i>
                    <h4>Déménagez</h4>
                    <p>Échanger vos logement une fois l'accord de la comission !</p>
                </a>
            </div>
        </div>
    </div>
    <!-- Featured Services / End -->

    <!-- Latest Projects -->
    <div class="full-width projects-container">

        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <!-- Headline -->
                    <h3 class="headline centered">Les dernières annonces</h3>

                </div>
            </div>
        </div>

        <!-- Projects -->
        <div class="full-width projects">
            {% if annoncecount==0 %}
                <div class="row">
                    <div class="notification warning closeable">
                        <p><span style="text-align: center;">Aucune annonce </span>disponible</p>
                        <a class="close" href="#"></a>
                    </div>
                </div>
            {% else %}
                {% for annonce in annonceaccTab %}
                    <!-- Item -->
                    <a href="{{ path('monbon_hlm_home_details_annonces', {'id':annonce  .id}) }}" class="kitchens clickable">
                        <img src="{{ asset('uploads/annonces/1/'~annonce.PhotoPrincipal.id~'.'~annonce.PhotoPrincipal.path) }}" style="height: 200px;" alt="" />
                        <div class="overlay">
                            <div class="overlay-content">
                                <h4>{{ annonce.quartier.nom }}</h4>
                                <span>{{ annonce.typelogement.type }}</span>
                            </div>
                        </div>
                        <div class="plus-icon"></div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="{{path ('monbon_hlm_home_annonces')}}" class="button medium border">Toutes les annonces</a>
                </div>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
    <div id="testimonials">
        <!-- Slider -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonials-slider">
                        <ul class="slides">
                            <li>
                                <p> Mes enfants ont quitté mon domicile depuis 4 ans et je payais depuis un T4 avec mon petit salaire heureusement j'ai pu enfin faire échange avec une famille vivant à 4 dans un T3.
                                    <span>Nora El hams</span></p>
                            </li>

                            <li>
                                <p> Si je n'avais pas vite trouvé un échange grâce à votre site, mon mari aurait continué à se disputer avec le voisin. Maintenant on vit tranquillement dans notre nouveau logement. Et paraît-il que le nouveau locataire s'est fait ami avec le voisin tant mieux.
                                    <span>Veronique Laprune</span></p>
                            </li>

                            <li>
                                <p>  Divorcée et sans véhicule, j'élève seule 3 adolescents. J'ai formulé une demande de mutation il y a 2 ans.
                                    Mon organisme m’a proposé deux emplois à 15km de mon secteur, je ne pouvais donc pas accepter. Grâce à ce site j'ai pu trouver un locataire souhaitant échanger son logement avec moi. Bien qu’il soit au RDC, l'appartement est dans un super état et juste à côté du collège.
                                    <span>Malika Hadjibou</span></p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonials / End -->


    <!-- Logo Carousel -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="headline centered with-border margin-bottom-30">LES BAILLEURS</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <!-- Carousel -->
                <div class="logo-carousel">
                    {% for bailleurs in bailleuraccTab %}
                    <a href="{{path ('monbon_hlm_home_annonces_bailleur', {'id':bailleurs  .id}) }}">
                    <div class="item"><img src="{{ asset('uploads/bailleurs/'~bailleurs.logo.id~'.'~bailleurs.logo.path) }}" alt="" /></div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <!-- Logo Carousel / End -->

    <div class="margin-top-30"></div>


    <!-- Footer
    ================================================== -->
    {% include "::footer.html.twig" %}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>


    {% include "::scripts.html.twig" %}


</div>
<!-- Wrapper / End -->

</body>
</html>